.container {
  min-height: calc(100vh - 92px);
  background-color: var(--background-color);
}

.containerWithCamera {
  width: calc(100vw - 620px);
}

.label {
  font-weight: 600;
  font-size: 32px;
  line-height: 24px;
  color: var(--text-color);
}

.labelWrapper {
  padding-top: 40px;
  margin: 0px 0px 22px 40px;
  display: flex;
  align-items: center;
}

.removeTickIconsButton {
  position: absolute;
  right: 40px;
}
